@model IEnumerable<Libreria2.Models.Ubicacion>


@{
    ViewData["Title"] = "Gestión de Ubicaciones";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">@ViewData["Title"]</h1>
                    <!-- Botón para abrir el modal de generar nueva ubicación -->
                    <button class="btn btn-success" data-toggle="modal" data-target="#modalAgregarUbicacion">Agregar Nueva ubicación</button>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar por nombre">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Buscar</button>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID de la ubicación</th>
                            <th>Descripción</th>
                            <th>Observaciones</th>
                            <th>Estatus</th>
                            <th>Fecha de Última Actualización</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ubicacion in Model)
                        {
                            <tr>
                                <td>@ubicacion.idUbicacion</td>
                                <td>@ubicacion.descripcion</td>
                                <td>@ubicacion.observaciones</td>
                                <td>@ubicacion.estatus</td>
                                <td>@ubicacion.fecha</td>
                                <td>
                                    @if (ubicacion.estatus == 1)
                                    {
                                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalEditarUbicacion" data-idubicacion="@ubicacion.idUbicacion" data-descripcion="@ubicacion.descripcion" data-observaciones="@ubicacion.observaciones" data-estatus="@ubicacion.estatus">Editar</button>
                                        <form asp-action="EliminarUbicacion" method="post" style="display:inline;">
                                            <input type="hidden" name="idUbicacion" value="@ubicacion.idUbicacion" />
                                            <button type="submit" class="btn btn-sm btn-danger">Deshabilitar</button>
                                        </form>
                                    }
                                    else if (ubicacion.estatus == 2)
                                    {
                                        <form asp-action="RehabilitarUbicacion" method="post" style="display:inline;">
                                            <input type="hidden" name="idUbicacion" value="@ubicacion.idUbicacion" />
                                            <button type="submit" class="btn btn-sm btn-success">Habilitar</button>
                                        </form>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </main>
        </div>
    </div>

    <!-- Modal para agregar Ubicacion -->
    <div class="modal fade" id="modalAgregarUbicacion" tabindex="-1" role="dialog" aria-labelledby="modalAgregarUbicacionLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarUbicacionLabel">Agregar Ubicacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="CrearUbicacion" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="observaciones">Observaciones (Opcional)</label>
                            <textarea class="form-control" id="observaciones" name="observaciones" rows="4" data-val="false"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para editar ubicacion -->
    <div class="modal fade" id="modalEditarUbicacion" tabindex="-1" role="dialog" aria-labelledby="modalEditarUbicacionLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarUbicacionLabel">Editar Ubicacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="EditarUbicacion" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="idubicacion" name="idubicacion" />
                        <input type="hidden" id="descripcion" name="descripcion" />
                        <input type="hidden" id="estatus" name="estatus" />
                        <div class="form-group">
                            <label for="observaciones">Observaciones (Opcional)</label>
                            <textarea class="form-control" id="observaciones" name="observaciones" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Llenar el modal de edición con los datos del almacen
        $('#modalEditarUbicacion').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var idubicacion = button.data('idubicacion');
            var descripcion = button.data('descripcion');
            var observaciones = button.data('observaciones');
            var estatus = button.data('estatus');

            var modal = $(this);
            modal.find('#idubicacion').val(idubicacion);
            modal.find('#descripcion').val(descripcion);
            modal.find('#observaciones').val(observaciones);
            modal.find('#estatus').val(estatus);
        });
    </script>
</body>
</html>
